.page-history-img-drawer{
    .order-id{
        color: #ddd;
    }

    .ant-table-wrapper {
        flex-grow: 1;
  
        .success {
          color: @success-color;
        }
  
        .danger {
          color: @error-color;
        }
      }
}
